<% if user_signed_in? %>
  <table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">Budgets</h1>
				<%= render 'shared/budget_form' %>
			</td>
		</tr>
		<tr>
			<% if current_user.budgets.any? %>
			<td class="round">
		        <%= render 'shared/budget_info' %>
		      </td>
			<% end %>
		</td>
    </tr>
  </table>
<% else %>
  <h1>Please sign in or sign up</h1>

  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>

<% end %>
