.container {
  width: 710px;
}

body {
  background: #D1F1FC;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Lists */

ul li {
	list-style-type: none;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #7BDF43;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-small {
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Errors */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.current-page-caption {
	font-size: medium; 
	font-weight: bold;
	width: 150px;
	color: white; 
	text-align: center;
	margin: 10px 0 10px 0;
}

/* Budgets */

.budget-edit, .budget-edit-sample {
	color: #5A2E2E;
	font-weight: bold;
	font-size: x-large;
}


li.budget-edit, li.budget-delete {
	display: inline-block;
}


li.budget-delete
{
	float: right;
	font-weight: bold;
	margin-top: 7px;
}


/* Items */


.item-edit, .item-edit-sample {
	color: #0B486B;
	font-weight: bold;
	font-size: 11pt;
}


li.item-edit, li.item-amount, li.item-delete {
	list-style-type: none;
	display: inline-block;
}

li.item-edit {
	width: 130px;
}

li.item-delete
{
	float: right;

}

.item-field {
	font-size: small;
}

.item-field input[type=text], .daily-field input[type=text] {
	font-weight: bold;
	font-size: medium;
	color: #444;
}

.item-amount, .item-amount-sample {
	font-weight: bold;
	color: #CC2A41;
}


/* Daily */

.daily-field select {
	font-weight: bold;
	font-size: medium;
	color: #444;
}

.daily-edit, .daily-edit-sample {
	color: #544147;
	font-weight: bold;
	font-size: medium;
}

li.daily-edit {
	width: 200px;
}

li.daily-edit, li.daily-delete, li.daily-amount {
	display: inline-block;
}

.daily-amount, .daily-amount-sample {
	font-weight: bold;
	color: #CC2A41;
}

li.daily-delete
{
	float: right;
	display: inline-block;
	font-weight: bold;
	margin-top: 2px;
}

#daily-status {
	margin-top: 5px; 
	background: #EEDC4A;
	float:right; 
	display: inline-block;	
	width: 200px;
}

.today-item {
	padding: 10px 20px 10px 20px;
	color: #333;
}

.today-item .caption {
	font-size:large;
	font-weight: bold;
}

.today-item .amount {
	font-size: x-large;
	font-weight: bold;
}




/* Income */

#income-info {
	margin-top: 5px; 
	background: #EEDC4A;
	float:right; 
	display: inline-block;	
}

#income-disposable,
#income-deduction {
	padding: 10px 20px 10px 20px;
	color: #333;
}

#income-disposable .caption,
#income-deduction .caption {
	font-size:large;
	font-weight: bold;
}

#income-disposable .amount, 
#income-deduction .amount {
	font-size: x-large;
	font-weight: bold;
}


/* Tabs */

.tab-container {
	margin: 0;
	padding: 10px 0 10px 0 ;
	padding-left: 60px;
	background-color: #EBEBE9;
}

.tab-container .current {
	border: 4px solid #F6E174;
}

.tab-item a {
	color: #fff;
}

.tab-item {
	display: inline-block;
	font-size:large;
	padding: 10px 15px 10px 15px;
	font-weight: bold;
	margin-right: 10px;
	color: #fff;
}

.tab-dashboard {
	background-color: #303B3D;
}
.tab-budget {
	background-color: #E12B42;
}
.tab-daily {
	background-color: #A6B479;
}
.tab-report {
	background-color: #0B8471;
}


/* Reports */

#reports-list ul{
	padding-left: 10px;
	margin: 0;
}

.reports-item {
	margin-top: 20px;
}

.reports-item .chart {
	background-color: #fff;
	padding: 10px 0 10px 0;
	display: inline-block; 
	vertical-align: top;
	margin-left: 20px;
}

.reports-item .breakdown {
	margin-right: 0px; 
	background: #EEDC4A;
	 
	display: inline-block;	
	padding: 5px 1px 1px 1px;
}

.reports-item .breakdown .breakdown-container{
	padding:5px; 
	width: 240px;
}

.reports-item .breakdown table{
	padding: 0;
	margin: 0;
}


.reports-item .breakdown table tr td {
	background-color: #EEDC4A;
	font-size: small;
	font-weight: bold;
	
}

.reports-item .breakdown table tr td.desc {
	text-align: right;
	width: 150px;
	vertical-align: top;
}


/* Dashboard */
td.dashboard .reports-item .breakdown table tr td {
	background-color: #FFD9E7;
	font-size: small;
}


/* Overrides */

.red {	
	color: red;
}

.green {
	color: #0D8600;
}









