<div class="budget_list">
    <span class="budgets">
		<% get_all_user_budgets(current_user.id).each do |budget| %>
			<ul>
				<li><%=budget.name %>
				| <%= link_to "delete", budget, :method => :delete, :confirm => "You sure?",
												:title => "Delete #{budget.name}" %>
				</li>
			</ul>
		<% end %>
    </span>
  </a>
</div>
