<% get_all_user_budgets(current_user.id).each do |budget| %>
	<ul>
		<li class="budget_<%=budget.id %>"><%=budget.name %>
		| <%= link_to "delete", budget, :remote => true, :method => :delete, :confirm => "You sure?",
										:title => "Delete #{budget.name}" %>
		</li>
	</ul>
<% end %>