<% get_all_budget_items(budget.id).each do |item| %>

	<ul>
		<li>
			<div style="width: 290px;">
				<ul style="padding: 0;margin:0">
					<li class="item-edit" id="<%= item.id %>"><%= item.name %> </li>
					<li class="item-amount"> <%= number_to_currency(item.amount, :unit => "$") %></li>
					<li class="item-delete" style="font-size: small"> 
						<%= link_to "delete", item, :remote => true, 
													:method => :delete, 
													:confirm => "Are you sure?", 
													:title => "Delete #{item.name}" %>
					</li>
				</ul>
			</div>
		</li>
	</ul>

<% end %>
	