$("#income-info").html("<%= escape_javascript(render('shared/income_info')) %>")
$("#notice").html('<div class="flash success"><%= escape_javascript(flash.delete(:success)) %></div>');
$('#income-disposable .amount .edit').editable('/income/update', {
    name		:	$(this).attr('name'),
    id			:	$(this).attr('id'),
    cancel		:	'Cancel',
    submit		:	'OK',
    indicator	:	'Saving...',
    tooltip		:	'Click to edit...',
	method		: 	'put'
});