<h1>About Us</h1>
<p>
  OffBudget is a web app that I have created to plan my own finances. You start by deciding on an amount that will be used as your initial budget for the month and the app will prompt you to fill out the rest of the data that it needs.
</p>

<p>Let's say you want to buy that new TV, a computer or go for a vacation, just enter it into OffBudget and it will give you a timeline on when you would have saved up enough to buy all those items. Protect yourself from spur-of-the-moment purchases. Your wallet will be thanking you. But not your credit-cards though!
</p>