<h1>Help</h1>
<p>
  	If you're having any problems whatsoever please email me at offbudget.help@gmail.com. Replies could take a while so please take the time to fill in your subject appropriately so I could prioritize better.
</p>

<p>
	I hope you find this app as useful as it is for me and please do not hesitate to feedback or request a new feature via the email address that I have provided above.
</p>

<p>Thank you for trying out OffBudget.</p>
