<div class="breakdown-container">
	<table>
	<% items.each do |item| %>
		<tr>
			<td class="desc"><%=item.name%></td>
			<td style="color: #0D8600"><%= number_to_currency(item.amount, :unit => "$", :delimiter => ",") %></td>
		</tr>
	<% end %>
	</table>
</div>