<div>
	<%=image_tag(@graph_budgeted, :alt => "Loading charts...") %>
</div>

<div>
	<%=image_tag(@graph_calculated, :alt => "Loading charts...") %>
</div>

<div>
	<%=image_tag(@graph_line, :alt => "Loading charts...") %>
</div>