<table class="front" summary="For signed-in users">
	<tr>
		<td class="main">
			<div class="round tab-<%=current_tab%> current-page-caption">
				Report
			</div>
		</td>
	</tr>
	<tr>
		<td class="round" style="padding-bottom: 30px;padding-top: 10px;">
				
			<div id="reports-list" style="margin-bottom: 20px;">	
				<%= render 'reports_bargraph', :items => @items %>
			</div>
	  	</td>
	 </tr>
</table>